@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.button {
    background: inherit;
    border: 0;
}

.icon {
    color: $color-dark;
    opacity: 0.7;
    
     
    &:hover {
        cursor:pointer;
        opacity: 1;
    }
}

.isFavorite {
    color: $color-warning;
    opacity: 1;
}
